@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 170px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.header .container {
  padding: 0;
}

.header .container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container > ul > li {
  position: relative;
}

.header .container > ul > li .logo {
  position: relative;
  margin: 0 100px;
}

.header .container > ul > li .logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -130px;
  right: -130px;
  height: 1px;
  background: #DEDEDE;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.header .container > ul > li .logo img {
  padding: 0 30px;
  background-color: #fff;
}

.header .container > ul > li .dot {
  position: relative;
}

.header .container > ul > li .dot::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #DEDEDE;
  position: absolute;
  left: -45px;
  top: 10px;
}

.header .container > ul > li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.58);
  font-weight: 400;
}

.header .container > ul > li a:hover {
  color: #fc5447;
}

.header .container > ul > li .hover-menu {
  background-color: #2b5fab;
  width: 175px;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  padding: 25px 20px 25px 35px;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-menu ul {
  position: relative;
}

.header .container > ul > li .hover-menu ul::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: -2rem;
  right: 50%;
}

.header .container > ul > li .hover-menu ul li {
  padding: 10px;
}

.header .container > ul > li .hover-menu ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.header .container > ul > li .hover-menu ul li a:hover {
  color: white;
  padding-left: 8px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-menu ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fc5447;
  position: absolute;
  left: -5px;
  top: 5px;
}

.header .container > ul > li .hover-service {
  background-color: #2b5fab;
  width: 500px;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  bottom: -2rem;
  padding: 25px 20px 25px 35px;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-service ul {
  position: relative;
}

.header .container > ul > li .hover-service ul::before {
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  background-image: url("../image/slice-zero.png");
  width: 220px;
  height: 170px;
  right: 0;
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
}

.header .container > ul > li .hover-service ul::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: -40px;
  right: 50%;
}

.header .container > ul > li .hover-service ul li {
  padding-bottom: 10px;
}

.header .container > ul > li .hover-service ul li div {
  content: "";
  position: absolute;
  width: 220px;
  height: 170px;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-service ul li:hover div {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-service ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.header .container > ul > li .hover-service ul li a:hover {
  color: white;
  padding-left: 8px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container > ul > li .hover-service ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fc5447;
  position: absolute;
  left: -5px;
  top: 5px;
}

.header .container > ul > li .hover-service ul p {
  color: #fff;
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}

.header .container > ul > li .hover-service ul p::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  left: 0;
  top: 2px;
}

.header .container > ul > li:hover .hover-menu {
  opacity: 1;
  visibility: visible;
}

.header .container > ul > li:hover .hover-service {
  opacity: 1;
  visibility: visible;
}

.header .container .search {
  position: relative;
}

.header .container .search a {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.header .container .search .search-box {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  z-index: 99;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.header .container .search .search-box input {
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  font-weight: normal;
  font-size: 12px;
  color: #6c6c6c;
  padding: 15px 60px 15px 60px;
  width: 450px;
  background: #fff;
}

.header .container .search .search-box input:focus {
  outline: none;
}

.header .container .search .search-box button {
  position: absolute;
  color: #c32b24;
  top: 50%;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px;
  border: none;
  background: #fff0;
  font-weight: bold;
  outline: none !important;
}

.header .container .search .search-box span {
  position: absolute;
  color: #c32b24;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  padding: 15px;
  border: none;
  background: #fff0;
  font-size: 20px;
  cursor: pointer;
}

.header .container .search .search-box.ses {
  opacity: 1;
  visibility: visible;
}

.header .container .lang > a {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.header .container .lang .hover-tr {
  background-color: #2b5fab;
  width: 75px;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  bottom: -7rem;
  padding: 20px 25px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container .lang .hover-tr ul {
  position: relative;
}

.header .container .lang .hover-tr ul::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: -1.8rem;
  -webkit-transform: translate(75%, 0);
          transform: translate(75%, 0);
}

.header .container .lang .hover-tr ul li {
  padding: 5px;
}

.header .container .lang .hover-tr ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.header .container .lang .hover-tr ul li a:hover {
  color: white;
  padding-left: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header .container .lang .hover-tr ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fc5447;
  position: absolute;
  left: -5px;
  top: 5px;
}

.header .container .lang:hover .hover-tr {
  visibility: visible;
  opacity: 1;
}

.header-wrapper {
  height: 170px;
}

.main {
  height: 600px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.left-part {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-img {
  position: relative;
  margin-left: auto;
}

.right-img::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #c32b24;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0.6;
}

.left-img {
  position: relative;
  margin-right: auto;
}

.left-img::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #2b5fab;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.6;
}

.footer-container {
  width: 100vw;
  height: 300px;
  background-color: #fafafa;
}

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccd8e9;
  padding: 60px 0;
}

.footer-up a {
  font-size: 25px;
  color: #0d0d0d;
}

.footer-up :hover {
  color: #c32b24;
}

.info {
  position: relative;
  padding-left: 25px;
}

.info::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 10px;
}

.iletişim-button {
  padding: 20px 20px;
  font-size: 22px;
  background: transparent;
  border: 1px solid rgba(112, 112, 112, 0.22);
}

.iletişim-button:hover {
  color: white;
  background: black;
}

.iletişim-button:hover a {
  color: white;
}

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.footer-down p span {
  color: black;
  font-weight: bold;
}

.right-part {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-part h2 {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-bottom: 40px;
  position: relative;
  padding-left: 20px;
}

.right-part h2::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: 15px;
  left: 0;
}

.right-part p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #6c6c6c;
  margin-bottom: 40px;
}

.right-part button {
  background-color: transparent;
  padding: 20px 25px;
  border: 3px solid #fafafa;
  margin-right: 10px;
  color: #2b5fab;
  font-size: 17px;
}

.right-part button a {
  margin-left: 10px;
  color: #2b5fab;
}

.hero .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .pagi {
  position: absolute;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: auto;
  z-index: 90;
  left: unset;
  bottom: unset;
}

.hero .pagi::after {
  z-index: 89;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: red;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.hero .pagi .swiper-pagination-bullet {
  margin-bottom: 7rem;
  background-color: #000000;
  color: #fff;
  width: 7px;
  height: 7px;
}

.hero .pagi .swiper-pagination-bullet span.side {
  position: absolute;
  left: -10px;
  color: #000;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.hero .pagi .swiper-pagination-bullet:last-of-type {
  margin-bottom: 0;
}

.hero .pagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red;
}

.hero .pagi .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  width: 12px;
  height: 2px;
  background-color: red;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 2.5px);
          transform: translate(-50%, 2.5px);
}

.hero .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.hero .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 120px;
  position: relative;
}

.page-title h1 {
  font-weight: 300;
  font-size: 55px;
  color: #000;
  position: relative;
  padding-left: 20px;
}

.page-title h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 20px;
}

.bread-container {
  background-color: #fafafa;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bread-container ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.bread-container ol li {
  font-weight: 300;
  font-size: 20px;
  color: #191919;
  position: relative;
  margin-right: 20px;
}

.home-bread {
  width: 80px;
  height: 80px;
  background-color: #F55447;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-bread:hover {
  background-color: #c32b24;
}

.home-bread i {
  color: white;
}

.page-up {
  height: 450px;
  position: relative;
}

.page-up .image-container {
  position: absolute;
  right: 0;
}

.about-up-image {
  background-image: url("https://www.seltransport.com/sellojistik/dosyalar/sayfa/1_2.jpg?m=1577220431");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-left: 80px;
}

.about-up-image::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #2b5fab;
  position: absolute;
  opacity: 0.8;
}

.about-up-text {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.about-up-text h6 {
  font-weight: bold;
  font-size: 15px;
  color: #2b5fab;
  margin-bottom: 60px;
}

.about-up-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #6c6c6c;
}

.page-down {
  height: 510px;
  position: relative;
}

.about-down-image {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 80px;
}

.picture {
  height: 500px;
}

.about-down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-down-text div {
  height: 500px;
}

.about-down-text h1 {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.about-down-text h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 10px;
}

.about-down-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #6c6c6c;
  margin-bottom: 50px;
}

.about-down-text p span {
  color: #2980b9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  font-style: italic;
}

.career-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 120px;
  position: relative;
}

.career-title h1 {
  font-weight: 300;
  font-size: 55px;
  color: #000;
  position: relative;
  padding-left: 20px;
}

.career-title h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 20px;
}

.career {
  margin-top: 150px;
  margin-bottom: 270px;
  height: 500px;
}

.accordion {
  margin-left: 80px;
}

.accordion .accordion-item {
  border: none;
}

.accordion .accordion-button {
  font-weight: bold;
  color: #54585f;
  background-color: #fff;
  border-bottom: 1px solid #0E62E4;
  padding: 5px;
}

.accordion .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion .accordion-button.collapsed {
  opacity: 0.6;
  border-bottom: 1px solid #54585f;
}

.accordion .accordion-body {
  padding: 25px 5px;
}

.accordion p {
  font-size: 14px;
  line-height: 23px;
  color: #909691;
}

.accordion a {
  float: right;
  border: 3px solid #fafafa;
  font-weight: bold;
  font-size: 14px;
  color: #2b5fab;
  border-radius: 300px;
  padding: 10px 20px;
  text-transform: uppercase;
  float: right;
  margin-bottom: 20px;
}

.form-control {
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: normal;
  color: #909691;
  background-color: #fff;
  border: 1px solid rgba(42, 95, 171, 0.6);
  border-radius: 25px;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #909691;
}

.btn {
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: normal;
  color: #909691;
  background-color: #fff;
  border: 1px solid rgba(42, 95, 171, 0.6);
  border-radius: 25px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #909691;
  background-color: #fff;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #909691;
  background-color: #fff;
  border: 1px solid rgba(42, 95, 171, 0.6);
}

.dropdown-toggle::after {
  margin-left: 270px;
}

.dropdown-item {
  width: 100%;
  font-weight: 400;
  color: white;
  background-color: #2b5fab;
}

.dropdown-item:hover {
  background-color: #2b5fab;
  color: white;
}

.dropdown-menu {
  width: 370px;
  padding: 10px;
  font-size: 14px;
  background-color: #2b5fab;
}

.file-container {
  position: relative;
}

.yükle {
  position: absolute;
  right: 40px;
  top: 40%;
  color: #2b5fab;
  font-size: 14px;
}

.textarea {
  height: 180px;
  padding: 15px 20px;
}

.submit {
  margin-top: 30px;
  float: right;
  font-weight: bold;
  font-size: 14px;
  color: #2b5fab;
  background: #fff0;
  border-radius: 20px;
  border: 3px solid #fafafa;
  padding: 10px 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.denizyolu {
  position: relative;
}

.denizyolu .bg {
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.denizyolu .center-bottom {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-color: #2B5FAB;
  width: 705px;
  height: 186px;
  mix-blend-mode: hard-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.denizyolu .center-bottom::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 70px;
  background-color: #fc5447;
  top: 0;
  -webkit-transform: translate(0, -70%);
          transform: translate(0, -70%);
}

.denizyolu .center-bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: #fc5447;
  bottom: -16px;
}

.denizyolu .center-bottom h1 {
  font-weight: 300;
  font-size: 55px;
  color: #fc5447;
  margin-bottom: 10px;
  text-align: center;
}

.denizyolu .center-bottom li {
  font-weight: 300;
  font-size: 20px;
  color: #fff !important;
}

.denizyolu .center-bottom li a {
  color: #fff;
}

.deniz-text {
  margin-top: 130px;
  margin-bottom: 130px;
}

.deniz-text h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 50px;
  padding: 0 120px;
  line-height: 1.2;
  text-align: center;
}

.deniz-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
  text-align: center;
}

.deniz-text p span {
  font-weight: bolder;
}

.depo {
  position: relative;
}

.depo .bg {
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.depo .center-bottom {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-color: #2B5FAB;
  width: 705px;
  height: 186px;
  mix-blend-mode: hard-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.depo .center-bottom::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 70px;
  background-color: #fc5447;
  top: 0;
  -webkit-transform: translate(0, -70%);
          transform: translate(0, -70%);
}

.depo .center-bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: #fc5447;
  bottom: -16px;
}

.depo .center-bottom h1 {
  font-weight: 300;
  font-size: 55px;
  color: #fc5447;
  margin-bottom: 10px;
  text-align: center;
}

.depo .center-bottom li {
  font-weight: 300;
  font-size: 20px;
  color: #fff !important;
}

.depo .center-bottom li a {
  color: #fff;
}

.depo-text {
  margin-top: 130px;
  margin-bottom: 130px;
}

.depo-text h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 50px;
  padding: 0 120px;
  line-height: 1.2;
  text-align: center;
}

.depo-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
  text-align: center;
}

.karayolu {
  position: relative;
}

.karayolu .bg {
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.karayolu .center-bottom {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background-color: #2B5FAB;
  width: 705px;
  height: 186px;
  mix-blend-mode: hard-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.karayolu .center-bottom::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 70px;
  background-color: #fc5447;
  top: 0;
  -webkit-transform: translate(0, -70%);
          transform: translate(0, -70%);
}

.karayolu .center-bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: #fc5447;
  bottom: -16px;
}

.karayolu .center-bottom h1 {
  font-weight: 300;
  font-size: 55px;
  color: #fc5447;
  margin-bottom: 10px;
  text-align: center;
}

.karayolu .center-bottom li {
  font-weight: 300;
  font-size: 20px;
  color: #fff !important;
}

.karayolu .center-bottom li a {
  color: #fff;
}

.kara-text {
  margin-top: 130px;
  margin-bottom: 130px;
}

.kara-text h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 50px;
  padding: 0 120px;
  line-height: 1.2;
  text-align: center;
}

.kara-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
  text-align: center;
}

.kara-text p span {
  font-weight: bolder;
}

.kara-text i {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  color: #DEDEDE;
}

.container-fluid h3 {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  position: relative;
  margin-bottom: 40px;
}

.container-fluid p {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
}

.container-fluid .up-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 80px 0 300px;
  text-align: right;
}

.container-fluid .up-text h3 {
  padding-right: 20px;
}

.container-fluid .up-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FC5447;
  width: 10px;
  height: 10px;
}

.container-fluid .up-pic {
  height: 270px;
  position: relative;
}

.container-fluid .up-pic::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: #2B5FAB;
  mix-blend-mode: hard-light;
}

.container-fluid .down-pic {
  height: 290px;
  position: relative;
}

.container-fluid .down-pic::after {
  content: "";
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  background: #C32B24;
  mix-blend-mode: hard-light;
}

.container-fluid .down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 300px 0 80px;
}

.container-fluid .down-text h3 {
  padding-left: 20px;
}

.container-fluid .down-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FC5447;
  width: 10px;
  height: 10px;
}

.tır {
  margin-top: 130px;
  margin-bottom: 100px;
}

.tır h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
  position: relative;
}

.tır h1::before {
  content: "";
  position: absolute;
  top: -100%;
  background: #FC5447;
  width: 10px;
  height: 10px;
}

.kart-body {
  width: 370px;
  height: 450px;
  border: 3px solid #FAFAFA;
}

.kart-body .image-body {
  background-color: #FAFAFA;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.kart-body .image-body img {
  max-width: 270px;
  -webkit-filter: invert(1) grayscale(1);
          filter: invert(1) grayscale(1);
  mix-blend-mode: darken;
}

.kart-body .image-body p {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fff;
  padding: 10px 30px;
  color: #2B5FAB;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.kart-body .p-body {
  font-weight: 300;
  font-size: 15px;
}

.kart-body .p-body p {
  line-height: 30px;
  text-align: center;
}

.kart-body .fa-solid {
  color: red;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.iletişim-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 120px;
  position: relative;
}

.iletişim-title h1 {
  font-weight: 300;
  font-size: 55px;
  color: #000;
  position: relative;
  padding-left: 20px;
}

.iletişim-title h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 20px;
}

.iletişim {
  margin-top: 150px;
  margin-bottom: 200px;
  height: 350px;
}

.communication {
  padding-left: 100px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.communication > div {
  border-bottom: 1px solid #DEDEDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.communication > div p {
  line-height: 20px;
}

.communication > div div {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communication > div i {
  color: #2b5fab;
  font-size: 30px;
  padding-right: 30px;
}

.communication > div .fa-solid {
  color: red;
  font-size: 10px;
}

.communication > div a {
  margin-bottom: 30px;
  font-size: 15px;
  color: #5c5a5a;
  line-height: 25px;
}

.communication > div a:hover {
  color: #c32b24;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-control-com {
  height: 50px;
  font-size: 14px;
  font-weight: normal;
  color: #909691;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #DEDEDE;
  width: 100%;
  padding-left: 30px;
}

.form-control-com:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #909691;
  outline: none;
}

.submit {
  margin-top: 30px;
  float: right;
  font-weight: bold;
  font-size: 14px;
  color: #2b5fab;
  background: #fff0;
  border-radius: 20px;
  border: 3px solid #fafafa;
  padding: 15px 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.submit:hover {
  background-color: #fafafa;
}

.submit i {
  margin-left: 10px;
}

.ad-soyad {
  position: relative;
}

.ad-soyad i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}

.mail {
  position: relative;
}

.mail i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}

.comment {
  position: relative;
}

.comment i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}

.comment .textarea {
  height: 130px;
  width: 100%;
}

.security-code {
  margin-top: 25px;
}
/*# sourceMappingURL=style.css.map */