@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 170px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}
.header .container {
  padding: 0;
}
.header .container > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > ul > li {
  position: relative;
}
.header .container > ul > li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.58);
  font-weight: 400;
}
.header .container > ul > li .hover-menu {
  background-color: #2b5fab;
  width: 175px;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  bottom: -8rem;
  padding: 25px 20px 25px 35px;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.header .container > ul > li .hover-menu ul {
  position: relative;
}
.header .container > ul > li .hover-menu ul::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: -2rem;
  right: 50%;
}
.header .container > ul > li .hover-menu ul li {
  padding: 10px;
}
.header .container > ul > li .hover-menu ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.header .container > ul > li .hover-menu ul li a:hover {
  color: white;
  padding-left: 8px;
  transition: 0.5s;
}
.header .container > ul > li .hover-menu ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fc5447;
  position: absolute;
  left: -5px;
  top: 5px;
  transition: 0.4s;
}
.header .container > ul > li:hover .hover-menu {
  opacity: 1;
  visibility: visible;
}
.header .container .search a {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
.header .container .lang > a {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
.header .container .lang .hover-tr {
  background-color: #2b5fab;
  width: 75px;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  bottom: -7rem;
  padding: 20px 25px;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.header .container .lang .hover-tr ul {
  position: relative;
}
.header .container .lang .hover-tr ul::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: -1.8rem;
  left: 5px;
}
.header .container .lang .hover-tr ul li {
  padding: 5px;
}
.header .container .lang .hover-tr ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
.header .container .lang .hover-tr ul li a:hover {
  color: white;
  padding-left: 5px;
  transition: 0.5s;
}
.header .container .lang .hover-tr ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fc5447;
  position: absolute;
  left: -5px;
  top: 5px;
  transition: 0.4s;
}
.header .container .lang:hover .hover-tr {
  visibility: visible;
  opacity: 1;
}

.header-wrapper {
  height: 170px;
}

.main {
  height: 600px;
  margin-top: 100px;
  display: flex;
  margin-bottom: 150px;
}

.left-part {
  width: 460px;
  display: flex;
  flex-direction: column;
}

.right-img {
  position: relative;
  margin-left: auto;
}
.right-img::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #c32b24;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  opacity: 0.6;
}

.left-img {
  position: relative;
  margin-right: auto;
}
.left-img::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #2b5fab;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.footer-container {
  width: 100vw;
  height: 300px;
  background-color: #fafafa;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccd8e9;
  padding: 60px 0;
}
.footer-up a {
  font-size: 25px;
  color: #0d0d0d;
}
.footer-up :hover {
  color: #c32b24;
}

.info {
  position: relative;
  padding-left: 25px;
}
.info::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 10px;
}

.iletişim-button {
  padding: 20px 20px;
  font-size: 22px;
  background: transparent;
  border: 1px solid rgba(112, 112, 112, 0.22);
}
.iletişim-button:hover {
  color: white;
  background: black;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.footer-down p span {
  color: black;
  font-weight: bold;
}

.right-part {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-part h2 {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-bottom: 40px;
  position: relative;
  padding-left: 20px;
}
.right-part h2::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  top: 15px;
  left: 0;
}
.right-part p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #6c6c6c;
  margin-bottom: 40px;
}
.right-part button {
  background-color: transparent;
  padding: 20px 25px;
  border: 3px solid #fafafa;
  margin-right: 10px;
  color: #2b5fab;
  font-size: 17px;
}
.right-part span {
  margin-left: 10px;
}

.hero .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper-pagination {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 350px;
}
.hero .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.hero .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.page-title {
  display: flex;
  align-items: flex-end;
  height: 120px;
  position: relative;
}
.page-title h1 {
  font-weight: 300;
  font-size: 55px;
  color: #000;
  position: relative;
  padding-left: 20px;
}
.page-title h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 20px;
}

.bread-container {
  background-color: #fafafa;
  height: 120px;
  display: flex;
  align-items: flex-end;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bread-container ol {
  display: flex;
  align-items: center;
  margin: 0;
}
.bread-container ol li {
  font-weight: 300;
  font-size: 20px;
  color: #191919;
  position: relative;
  margin-right: 20px;
}

.home-bread {
  width: 80px;
  height: 80px;
  background-color: #F55447;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home-bread:hover {
  background-color: #c32b24;
}
.home-bread i {
  color: white;
}

.page-up {
  height: 450px;
  position: relative;
}
.page-up .image-container {
  position: absolute;
  right: 0;
}

.about-up-image {
  background-image: url("https://www.seltransport.com/sellojistik/dosyalar/sayfa/1_2.jpg?m=1577220431");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-left: 80px;
}
.about-up-image::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #2b5fab;
  position: absolute;
  opacity: 0.8;
}

.about-up-text {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.about-up-text h6 {
  font-weight: bold;
  font-size: 15px;
  color: #2b5fab;
  margin-bottom: 60px;
}
.about-up-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #6c6c6c;
}

.page-down {
  height: 510px;
  position: relative;
}

.about-down-image {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 80px;
}

.picture {
  height: 500px;
}

.about-down-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-down-text div {
  height: 500px;
}
.about-down-text h1 {
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
.about-down-text h1::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fc5447;
  position: absolute;
  left: 0;
  top: 10px;
}
.about-down-text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #6c6c6c;
  margin-bottom: 50px;
}
.about-down-text p span {
  color: #2980b9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */