.header {
    height: 170px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;

    .container {
        padding: 0;

        >ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >li {
                position: relative;

                .logo {
                    position: relative;
                    margin: 0 100px;


                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -130px;
                        right: -130px;
                        height: 1px;
                        background: #DEDEDE;
                        transform: translateY(-50%);
                        z-index: -1;


                    }

                    img {
                        padding: 0 30px;
                        background-color: #fff;
                    }
                }


                .dot {
                    position: relative;

                    &::before {
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #DEDEDE;
                        position: absolute;
                        left: -45px;
                        top: 10px;
                    }
                }


                a {
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.58);
                    font-weight: 500;

                    &:hover {
                        color: #fc5447;
                    }

                }

                .hover-menu {
                    background-color: #2b5fab;
                    width: 175px;
                    border-radius: 1rem;
                    position: absolute;
                    left: 50%;
                    padding: 25px 20px 25px 35px;
                    transform: translate(-50%, 25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;

                    ul {
                        position: relative;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #fc5447;
                            position: absolute;
                            top: -2rem;
                            right: 50%;

                        }

                        li {
                            padding: 10px;

                            a {
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.6);
                                position: relative;

                                &:hover {
                                    color: white;
                                    padding-left: 8px;
                                    transition: all .4s ease;

                                    &::after {
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        background-color: #fc5447;
                                        position: absolute;
                                        left: -5px;
                                        top: 5px;
                                    }

                                }
                            }
                        }
                    }
                }

                .hover-service {
                    background-color: #2b5fab;
                    width: 500px;
                    border-radius: 1rem;
                    position: absolute;
                    left: 50%;
                    bottom: -2rem;
                    padding: 25px 20px 25px 35px;
                    transform: translate(-50%, 100%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;

                    ul {
                        position: relative;

                        &::before {
                            background-repeat: no-repeat;
                            content: "";
                            position: absolute;
                            background-image: url("../image/slice-zero.png");
                            width: 220px;
                            height: 170px;
                            right: 0;
                            transform: translate(25%, 0);

                        }

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #fc5447;
                            position: absolute;
                            top: -40px;
                            right: 50%;

                        }



                        li {
                            padding-bottom: 10px;

                            div {

                                content: "";
                                position: absolute;
                                width: 220px;
                                height: 170px;
                                right: 0;
                                top: 0;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                visibility: hidden;
                                opacity: 0;
                                transition: all .4s ease;


                            }

                            &:hover div {
                                visibility: visible;
                                opacity: 1;
                                transition: all .4s ease;

                            }


                            a {
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.6);
                                position: relative;

                                &:hover {
                                    color: white;
                                    padding-left: 8px;
                                    transition: all .4s ease;

                                    &::after {
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        background-color: #fc5447;
                                        position: absolute;
                                        left: -5px;
                                        top: 5px;
                                    }

                                }
                            }
                        }

                        p {
                            color: #fff;
                            position: relative;
                            padding-left: 20px;
                            margin-top: 10px;
                            margin-bottom: 20px;
                            font-weight: bold;
                            font-size: 15px;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background-color: white;
                                left: 0;
                                top: 2px;
                            }
                        }
                    }


                }


                &:hover {
                    .hover-menu {
                        opacity: 1;
                        visibility: visible;
                    }

                    .hover-service {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .search {
            position: relative;

            a {
                color: #000;
                font-weight: bold;
                font-size: 12px;
                transition: all .5s ease;
            }

            .search-box {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                top: 0;
                z-index: 99;
                transform: translate(0, -25%);

                input {
                    border: 1px solid #DEDEDE;
                    border-radius: 15px;
                    font-weight: normal;
                    font-size: 12px;
                    color: #6c6c6c;
                    padding: 15px 60px 15px 60px;
                    width: 450px;
                    background: #fff;
                    transition: all .5s ease;


                    &:focus {
                        outline: none;
                    }
                }

                button {
                    position: absolute;
                    color: #c32b24;
                    top: 50%;
                    right: 0;
                    transition: 0.4s;
                    transform: translateY(-50%);
                    padding: 15px;
                    border: none;
                    background: #fff0;
                    font-weight: bold;
                    outline: none !important;
                    transition: all .5s ease;

                }

                span {
                    position: absolute;
                    color: #c32b24;
                    left: 0;
                    transition: 0.4s;
                    transform: translateX(25%);
                    padding: 15px;
                    border: none;
                    background: #fff0;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all .5s ease;


                }

                &.ses {
                    opacity: 1;
                    visibility: visible;
                    transition: all .5s ease;

                }

            }
        }

        .lang {
            >a {
                color: #000;
                font-weight: bold;
                font-size: 12px;
            }

            .hover-tr {
                background-color: #2b5fab;
                width: 75px;
                border-radius: 1rem;
                position: absolute;
                left: 50%;
                bottom: -7rem;
                padding: 20px 25px;
                transform: translate(-50%, 0);
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease;

                ul {
                    position: relative;

                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: #fc5447;
                        position: absolute;
                        top: -1.8rem;
                        transform: translate(75%, 0);
                    }

                    li {
                        padding: 5px;

                        a {
                            font-size: 15px;
                            color: rgba(255, 255, 255, 0.6);
                            position: relative;

                            &:hover {
                                color: white;
                                padding-left: 5px;
                                transition: all .4s ease;

                                &::after {
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    background-color: #fc5447;
                                    position: absolute;
                                    left: -5px;
                                    top: 5px;
                                }

                            }
                        }
                    }


                }
            }

            &:hover {
                .hover-tr {
                    visibility: visible;
                    opacity: 1;
                }

            }



        }
    }
}

.header-wrapper {
    height: 170px;
}

.main {
    height: 600px;
    // border: 3px solid red;
    margin-top: 100px;
    display: flex;
    margin-bottom: 150px;

}

.left-part {
    width: 460px;
    display: flex;
    flex-direction: column;
}

.right-img {
    position: relative;
    margin-left: auto;

    &::after {
        content: "";
        width: 80px;
        height: 80px;
        background-color: #c32b24;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        opacity: 0.6;
    }
}

.left-img {
    position: relative;
    margin-right: auto;

    &::after {
        content: "";
        width: 60px;
        height: 60px;
        background-color: #2b5fab;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        opacity: 0.6;
    }
}

.footer-container {
    width: 100vw;
    height: 300px;
    background-color: #fafafa;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccd8e9;
    padding: 60px 0;

    a {
        font-weight: 300;
        font-size: 25px;
        color: #0d0d0d;
    }

    :hover {
        color: #c32b24;
    }
}

.info {
    position: relative;
    padding-left: 25px;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fc5447;
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.iletişim-button {
    padding: 20px 20px;
    font-size: 22px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.22);

    &:hover {
        color: white;
        background: black;
        transition: all .6s ease;

        a {
        color: white;
        transition: all .6s ease;

        }
    }
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    
    p {
        font-size: 15px;
        color:#585858;
        
        span {
            color: black;
            font-weight: bold;
        }
    }

    a {
        font-size: 12px;
        color:#585858;

        &:hover {
            color: #fc5447;

            &:last-of-type {
                color:#585858;
            }

            
        }

    

        img {
            margin-top: -10px;
        }
    }
}

.right-part {
    width: 500px;
    height: 500px;
    // border: 3px solid red;
    // margin: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-weight: bold;
        font-size: 40px;
        color: #000;
        margin-bottom: 40px;
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fc5447;
            position: absolute;
            top: 15px;
            left: 0;
        }
    }

    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #6c6c6c;
        margin-bottom: 40px;
    }

    button {
        background-color: transparent;
        padding: 20px 25px;
        border: 3px solid #fafafa;
        margin-right: 10px;
        color: #2b5fab;
        font-size: 17px;

        &:hover {
            background-color: #fafafa;
        }

        a {
            margin-left: 10px;
            color: #2b5fab;

        }
    }

}

.hero {
    position: relative;

    .social-media {
        position: absolute;
        top: 20%;
        left: 3rem;
        z-index: 99;
     
        

        li {
            margin-bottom: 7rem;
            transform:rotate(-90deg) ;
            position: relative;

            :hover {
                color: #fc5447;
                transition: all .5s ease;
            }

            a {
                font-size: 12px;
                color: #000;

            }

            .twit {
                position: relative;
                background-color: white;
                padding: 0 10px;

                &::after{
                    content: "";
                    position: absolute;
                    width: 170px;
                    height: 1px;
                    background-color: #DEDEDE;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,0);
                    z-index: -99;

                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pagi {
        position: absolute;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 40%;
        transform: translate(0, -50%);
        width: auto;
        z-index: 90;
        left: unset;
        bottom: unset;

        &::after {
            z-index: 89;
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: #b4b4b4;
            transform: translate(-50%, 0);
        }

        .swiper-pagination-bullet {
            z-index: 90;
            margin-bottom: 7rem;
            background-color: #000000;
            color: #fff;
            width: 7px;
            height: 7px;

            span {
                &.side {
                    position: absolute;
                    left: -10px;
                    color: #000;
                    transform: translate(0, -5px);
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &.swiper-pagination-bullet-active {
                background-color: red;

                &::before {
                    content: "";
                    width: 12px;
                    height: 2px;
                    background-color: red;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, 2.5px);
                }
            }
        }
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }
}