// header {
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     background: white;
//     z-index: 999;
// }

// .header-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 170px;
// }

// .header-container {
//     a {
//         font-size: 20px;
//         color: rgba(0, 0, 0, 0.58);
//         font-weight: 400;
//         transition: 0.4s;

//         &.search {
//             color: #000;
//             font-weight: bold;
//             font-size: 12px;
//         }
//     }

//     :hover {
//         color: #c32b24;
//     }

//     svg {
//         color: #000;
//         font-weight: bold;
//         transform: rotate(90deg);
//         width: 6px;
//         margin-left: 8px;
//     }

//     span {
//         border-bottom: 1px solid #dedede;
//         width: 130px;
//     }
// }

// .dot {
//     position: relative;
//     padding-left: 50px;

//     &::before {
//         content: "";
//         width: 5px;
//         height: 5px;
//         border-radius: 50%;
//         background-color: #dedede;
//         position: absolute;
//         left: 0;
//         top: 10px;
//     }
// }
.header {
    height: 170px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;

    .container {
        padding: 0;

        >ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >li {
                position: relative;

                a {
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.58);
                    font-weight: 400;
                }

                .hover-menu {
                    background-color: #2b5fab;
                    width: 175px;
                    border-radius: 1rem;
                    position: absolute;
                    left: 50%;
                    bottom: -8rem;
                    padding: 25px 20px 25px 35px;
                    transform: translate(-50%, 0);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;

                    ul {
                        position: relative;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #fc5447;
                            position: absolute;
                            top: -2rem;
                            right: 50%;

                        }

                        li {
                            padding: 10px;

                            a {
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.6);
                                position: relative;

                                &:hover {
                                    color: white;
                                    padding-left: 8px;
                                    transition: .5s;

                                    &::after {
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        background-color: #fc5447;
                                        position: absolute;
                                        left: -5px;
                                        top: 5px;
                                        transition: .4s;
                                    }

                                }
                            }
                        }
                    }
                }

                &:hover {
                    .hover-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .search a {
            color: #000;
            font-weight: bold;
            font-size: 12px;
        }

        .lang {

            >a {
                color: #000;
                font-weight: bold;
                font-size: 12px;
            }

            .hover-tr {
                background-color: #2b5fab;
                width: 75px;
                border-radius: 1rem;
                position: absolute;
                left: 50%;
                bottom: -7rem;
                padding:20px 25px;
                transform: translate(-50%, 0);
                opacity: 0;
                visibility: hidden;
                transition: all .4s ease;

                ul {
                    position: relative;

                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: #fc5447;
                        position: absolute;
                        top: -1.8rem;
                        left: 5px;

                    }

                    li {
                        padding: 5px;
                        
                        a {
                            font-size: 15px;
                            color: rgba(255, 255, 255, 0.6);
                            position: relative;

                            &:hover {
                                color: white;
                                padding-left: 5px;
                                transition: .5s;

                                &::after {
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    background-color: #fc5447;
                                    position: absolute;
                                    left: -5px;
                                    top: 5px;
                                    transition: .4s;
                                }

                            }
                        }
                    }


                }
            }

            &:hover {
                .hover-tr {
                    visibility: visible;
                    opacity: 1;
                }

            }


        }
    }
}

.header-wrapper {
    height: 170px;
}

.main {
    height: 600px;
    // border: 3px solid red;
    margin-top: 100px;
    display: flex;
    margin-bottom: 150px;

}

.left-part {
    width: 460px;
    display: flex;
    flex-direction: column;
}

.right-img {
    position: relative;
    margin-left: auto;

    &::after {
        content: "";
        width: 80px;
        height: 80px;
        background-color: #c32b24;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        opacity: 0.6;
    }
}

.left-img {
    position: relative;
    margin-right: auto;

    &::after {
        content: "";
        width: 60px;
        height: 60px;
        background-color: #2b5fab;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
        opacity: 0.6;
    }
}

.footer-container {
    width: 100vw;
    height: 300px;
    background-color: #fafafa;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccd8e9;
    padding: 60px 0;

    a {
        font-size: 25px;
        color: #0d0d0d;
    }

    :hover {
        color: #c32b24;
    }
}

.info {
    position: relative;
    padding-left: 25px;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #fc5447;
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.iletişim-button {
    padding: 20px 20px;
    font-size: 22px;
    background: transparent;
    border: 1px solid rgba(112, 112, 112, 0.22);

    &:hover {
        color: white;
        background: black;
    }
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    p {
        span {
            color: black;
            font-weight: bold;
        }
    }
}

.right-part {
    width: 500px;
    height: 500px;
    // border: 3px solid red;
    // margin: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-weight: bold;
        font-size: 40px;
        color: #000;
        margin-bottom: 40px;
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fc5447;
            position: absolute;
            top: 15px;
            left: 0;
        }
    }

    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #6c6c6c;
        margin-bottom: 40px;
    }

    button {
        background-color: transparent;
        padding: 20px 25px;
        border: 3px solid #fafafa;
        margin-right: 10px;
        color: #2b5fab;
        font-size: 17px;
    }

    span {
        margin-left: 10px;
    }
}

.hero {

    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 350px;


    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }
}

// .menu-open {
//     background-color: #007bff;

//     a {

//     }
// }